/*body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 10;
}

.container {
	display: flex;
	align-items: center;
	justify-content: space-between;

}
.player-container {
	flex: 1;
}

svg {
	max-width: 100%;
	max-height: 100%;
	height: auto;
	display: block;
} */